@import "css/components/setup.css";
@import "css/components/board.css";
@import "css/components/dice.css";
@import "css/components/pawns.css";

body {
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

h2 {
    margin: 0 0 10px 0;
}
